
.searchdata {
  display: flex;
  justify-content: space-between;
}
.searchbar {
  display: flex;
  justify-content: center;
  padding: 22px;
  background:#4cafffdd;
  font-weight: bold;
}
.main {
  text-align: center;
  
}
label {
  align-items: center;
  display: flex;
  margin-right: 10px;
  font-size: 19px;
}
.searchbar input {
  padding: 18px;
  width: 90%;
  border-radius: 10px;
  border: 0px;
}
.search-alert{
  text-align:  'center';
}
.Searchbtn {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
  
}
.Searchbtn button {
  padding: 7px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 0px;
  border-radius: 7px;
}